script.
    $(document).ready(()=>{
        if($("#selectCat").val() === 'New') $("#newCatForm").show();
        $.get("/home/createList", ()=>{});
    });
            function postLine() {
                $.post("/home/createList/addListItem_form", $("#listItemForm").serialize(), (data) => {
                        $("#listContainer").append(data);
                });
            }
            function postTitle() {
                $.post("/home/createList/addListTitle_form", $("#listTitleForm").serialize(), (data) => {
                        $("#listContainer").append(data);
                        $("#titleButton").attr("disabled", true);
                });
            }
            function postCat() {
                $.post("/home/createList/addListCat_form", $("#newCatForm").serialize(), (data) => {
                        $("#listContainer").append(data);
                });
            }
            function saveList() {
                $.post("/home/createList/saveList_form",{cat:$("#selectCat").val()}, (data) => {
                    //if(data==='SAVE_OK') location.href = "/home";
                    if(data==='SAVE_OK') updateTreeView();
                    else $("#H1").html('Error al guardar la lista');
                });
            }
            function catChange() {
                if($("#selectCat").val() === 'New') $("#newCatForm").show();
            }
div(class="container-fluid")
    h1(id="H1") List Creation
    div(id="listContainer")
    form(id="listTitleForm" method="post")
        input(type= "text" name ="campo1" placeholder="List title")
        input(type="reset" value ="Reset")
        input(type="button" id="titleButton" value ="Set Title" onclick="postTitle()")
    form(id="listItemForm" method="post")
        input(type= "text" name ="campo1" placeholder="List item")
        input(type="reset" value ="Reset")
        input(type="button" value ="Set task" onclick="postLine()")
    form(id="newCatForm" method="post" style="display:none;")
        input(type= "text" name ="campo1" placeholder="New Cat")
        input(type="reset" value ="Reset")
        input(type="button" value ="Set task" onclick="postCat()")
    form(id="listDone")
        input(type="button" value="Done" onclick="saveList()")
    select(class="custom-select" id="selectCat" onchange="catChange()")
        each val in cats
            option!= val