doctype html
html
  head
    title #{user}: List creation
    script(src ="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
    link(href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
    script.
        $(document).ready(()=>{if($("#selectCat").val() === 'New') $("#newCatForm").show();});
        function postLine() {
            $.post("/home/createList/addListItem_form", $("#listItemForm").serialize(), (data) => {
                    $("#listContainer").append(data);
            });
        }
        function postTitle() {
            $.post("/home/createList/addListTitle_form", $("#listTitleForm").serialize(), (data) => {
                    $("#listContainer").append(data);
                    $("#titleButton").attr("disabled", true);
            });
        }
        function postCat() {
            $.post("/home/createList/addListCat_form", $("#newCatForm").serialize(), (data) => {
                    $("#listContainer").append(data);
            });
        }
        function saveList() {
            $.post("/home/createList/saveList_form",{cat:$("#selectCat").val()}, (data) => {
                if(data==='SAVE_OK') location.href = "/home";
                else $("#H1").html('Error al guardar la lista');
            });
        }
        function catChange() {
            if($("#selectCat").val() === 'New') $("#newCatForm").show();
        }
  body
    h1(id="H1") List Creation
    div(id="listContainer")
    form(id="listTitleForm" method="post")
        input(type= "text" name ="campo1" placeholder="List title")
        input(type="reset" value ="Reset")
        input(type="button" id="titleButton" value ="Set Title" onclick="postTitle()")
    form(id="listItemForm" method="post")
        input(type= "text" name ="campo1" placeholder="List item")
        input(type="reset" value ="Reset")
        input(type="button" value ="Set task" onclick="postLine()")
    form(id="newCatForm" method="post" style="display:none;")
        input(type= "text" name ="campo1" placeholder="New Cat")
        input(type="reset" value ="Reset")
        input(type="button" value ="Set task" onclick="postCat()")
    form(id="listDone")
        input(type="button" value="Done" onclick="saveList()")
    select(class="custom-select" id="selectCat" onchange="catChange()")
        each val in cats
            option!= val