doctype html
html
    head
        title toDO.list
        script(src ="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
        script(src="./node_modules/bootstrap/dist/js/bootstrap.min.js")
        script(src="./node_modules/bootstrap-treeview/public/js/bootstrap-treeview.js")
        link(href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
        link(href="./node_modules/bootstrap-treeview/public/css/bootstrap-treeview.css" rel="stylesheet")
        script.
            $(document).ready(updateTreeView());
            function updateTreeView(newCat) {
                var treeData;
                $.get("/home/getTreeData", (data) => { 
                    treeData=data
                    if(newCat) {
                        treeData.push({
                            text: newCat, href: '/home/viewList?cat=' + newCat, nodes: [{  text: 'Nueva lista', 
                            tags: ["<a href=\"/home/createList?cat=" + newCat + "\">Create List</a>"]}]
                        });
                    }
                    treeData.push ({
                        text: 'Nueva categoria', href:"/home/createList", 
                        tags:["<a data-toggle=\"modal\" data-target=\"#myModal\">Crear</a>"]
                    }); 
                    $("#tree").treeview({data:treeData, enableLinks:true, showTags:true, onNodeSelected:onNodeSelected});                
                });
            }
            function onNodeSelected(event, node) {
                $.post("/home/viewList", {parent : $("#tree").treeview("getParent", node), name: node.text, id: node.id} , (data)=>{
                    $("#listView").html(data.toString());
                });
            }
            function createCat() {
                updateTreeView($("#catName").val());
            }
    body
        h1 HOME
        p User:
            span #{user}
        form(method="get" action="/logout" id="logoutForm")
             input(type="submit" value="Logout")
        br
        div(id="tree" style="width:30%; float:left;")
        div(id="listView" style="width:70%; float:left")
        div(class="modal fade" id="myModal" role="dialog")
            div(class="modal-dialog modal-sm")
                div(class="modal-content")
                    div(class="modal-header")
                        button(type="button" class="close" data-dismiss="modal") &times;
                        h4(class="modal-title") New category
                    div(class="modal-body")
                        input(type="text" id="catName" placeholder="Category name" name="campo1")
                        input(type="button" value="Ok" data-dismiss="modal" onclick="createCat()")