doctype html
html
    head
        title toDO.list - #{user}
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        script(src ="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
        script(src="./node_modules/bootstrap/dist/js/bootstrap.min.js")
        script(src="./node_modules/bootstrap-treeview/public/js/bootstrap-treeview.js")
        script(src="./node_modules/bootstrap-select/dist/js/bootstrap-select.min.js")
        script(src="./node_modules/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js")
        link(href="./node_modules/bootstrap-treeview/public/css/bootstrap-treeview.css" rel="stylesheet")
        link(href="./static/css/theme.min.css" rel="stylesheet")
        link(href="./node_modules/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet")
        link(href="./node_modules/bootstrap-datetime-picker/css/bootstrap-datetimepicker.min.css" rel="stylesheet")
        link(href="./static/css/home.css" rel="stylesheet")
        script.
            $(document).ready(()=>{
                updateTreeView()
            });
            function updateTreeView(callback) { 
                var treeData=[];
                    $.get("/home/getTreeData", (data) => {
                        treeData=data;
                        $("#tree").treeview({data:treeData,
                                         showTags: true,
                                         highlightSearchResults: false,
                                         expandIcon: "glyphicon glyphicon-tags",
                                         collapseIcon: "glyphicon glyphicon-tags",
                                         onNodeSelected: onNodeSelected,
                                         showBorder: false,
                                         selectedBackColor: "white",
                                         onhoverColor: "white",
                                         selectedColor: "rgb(233, 84, 32)"});
                    if(callback) callback();
                    });
            }
            function onNodeSelected(event, node) {
                $.post("/home/manageList", {action: "edit", 
                                            parent : $("#tree").treeview("getParent", node), 
                                            name: node.text, 
                                            id: node.id}, (data) => {
                    $("#listView").html(data.toString());
                });  
            }
            function createList() {
                $.post("/home/manageList", {action: "create"},(data) => {
                    $("#listView").html(data.toString());
                    $("#addItemButton").hide();
                });

            }
            function deleteList(listName, listCat) {
                $.get("/home/manageList", {name: listName, cat:listCat}, ()=> updateTreeView());
            }
    body
        div(class="container-fluid" id="index")
            div(class="row")
                nav(class="navbar navbar-default")
                    div(class="container-fluid")
                        div(class="navbar-header")
                            a(id="brand-text" class="navbar-brand" href="/") toDO.list
                        ul(class="nav navbar-nav")
                            li
                                a(href="/home" id="navbar-item") Home
                            li
                                a(href="#" id="navbar-item") About
                        ul(class="nav navbar-nav navbar-right")               
                            li
                                a(href="/logout" id="navbar-item") Logout
                            li
                                a(id="navbar-item") 
                                    b #{user}
        div(class="container-fluid" id="register")
            div(class="row")
                div(class="col-xs-4 col-xs-offset-1")
                    div(id="treeLabel") #{user} list's
                    input(class="btn btn-primary btn-block" type="button" onclick="createList()" value="Create List")
                    div(id="tree")     
                div(class="col-xs-6" id="listView")