doctype html
html
    head
        title toDO.list - #{user}
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        script(src ="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
        script(src="./node_modules/bootstrap/dist/js/bootstrap.min.js")
        script(src="./node_modules/bootstrap-treeview/public/js/bootstrap-treeview.js")
        link(href="./node_modules/bootstrap-treeview/public/css/bootstrap-treeview.css" rel="stylesheet")
        link(href="./static/css/theme.min.css" rel="stylesheet")
        link(href="./static/css/home.css" rel="stylesheet")
        script.
            $(document).ready(updateTreeView());
            function updateTreeView(data) {
                var treeData=[];
                if(!data) {
                    $.get("/home/getTreeData", (data) => {
                        treeData=data;
                        $("#tree").treeview({data:treeData,
                                         showTags: true,
                                         expandIcon: "glyphicon glyphicon-tags",
                                         collapseIcon: "glyphicon glyphicon-tags",
                                         onNodeSelected: onNodeSelected,
                                         showBorder: false,
                                         selectedBackColor: "#dddddd",
                                         onhoverColor: "#dddddd",
                                         selectedColor: "black"});
                    });
                }
            }
            function onNodeSelected(event, node) {
                $.post("/home/viewList", {parent : $("#tree").treeview("getParent", node), name: node.text, id: node.id} , (data)=>{
                    $("#listView").html(data.toString());
                });
            }
            function createList() {
                $.get("/home/createList", (data) => {
                $("#listView").html(data.toString());
                });  
            }
            function deleteList(listName, listCat) {
                $.get("/home/deleteList", {name: listName, cat:listCat}, ()=> updateTreeView());
            }
    body
        div(class="container-fluid" id="index")
            div(class="row")
                nav(class="navbar navbar-default")
                    div(class="container-fluid")
                        div(class="navbar-header")
                            a(id="brand-text" class="navbar-brand" href="/") toDO.list
                        ul(class="nav navbar-nav")
                            li
                                a(href="/home" id="navbar-item") Home
                            li
                                a(href="#" id="navbar-item") About
                        ul(class="nav navbar-nav navbar-right")               
                            li
                                a(href="/logout" id="navbar-item") Logout
                            li
                                a(id="navbar-item") 
                                    b #{user}
        div(class="container-fluid" id="register")
            div(class="row")
                div(class="col-xs-4")
                    div(id="treeLabel") #{user} list's
                    div(id="tree")
                    input(class="btn btn-primary btn-block" onclick="createList()" value="Create List")
                div(class="col-xs-8" id="listView")