<!DOCTYPE html>
html
    head
        script(src ="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
        script.
            function sendLoginPostRequest() {
                $.post("/form1", $("#loginForm").serialize(), (data)=> $("#result").html(data)); 
            }
    body
        form(id="loginForm")
            input(type="text" id="campo1" name="campo1")
            input(type="text" id="campo2" name="campo2")
            input(type="button" value="Login" onclick="sendLoginPostRequest()")
        h1(id="result")