html
	head
		title!= titulo
	body
	div.className(style="background:blue; width:200px")
		ul
			li Elem1
			li Elem2
			li Elem3
	div.className(style="background:red; width:200px")
		ul
			li Elem1
			li Elem2
			li Elem3
	div.className(style="border: 10px solid yellow; text-align:center; font-size:30px;")
		p Cabecera de la 
			span(style="color:red;") pagina
	div.className(style="border: 10px solid blue; text-align:left; font-size:10px;")
		p Pie de la pagina 
	div.className(style="border: 10px solid red; text-align:left; font-size:10px;")
		p Cuerpo de la pagina