doctype html
html
    head
        title toDO.list
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        script(src ="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
        link(href="./static/css/theme.min.css" rel="stylesheet")
        link(href="./static/css/index.css" rel="stylesheet")
    body
        div(class="container-fluid" id="index")
            div(class="row")
                nav(class="navbar navbar-default")
                    div(class="container-fluid")
                        div(class="navbar-header")
                            a(id="brand-text" class="navbar-brand" href="/") toDO.list
                        ul(class="nav navbar-nav")
                            li
                                a(href="/home" id="navbar-item") Home
                            li
                                a(href="#" id="navbar-item") About
                        ul(class="nav navbar-nav navbar-right")               
                            li
                                a(id="navbar-item") 
                                    b #{user}
                div(class="container-fluid" id="indexPresentation")
                    |An easy solution for your 
                    br
                    |everyday tasks
                div(class="container-fluid" id="indexButtons")
                    div(class="row")
                        div(id="loginLink" class="col-xs-6")
                            a(class="btn-lg btn-primary btn-block" href="/login" role="button") Login
                        div(id="registerLink" class="col-xs-6")
                            a(class="btn-lg btn-primary btn-block" href="/register") Register
                            