doctype html
html
    head
        title toDO.list - Login
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src ="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
        link(href="./static/css/theme.min.css" rel="stylesheet")
        link(href="./static/css/login.css" rel="stylesheet")
        script.
            function sendLoginPostRequest() {
                if(!$("#username").val()) { $("#username").focus(); return; }
                if(!$("#password").val()) { $("#password").focus(); return; }
                $.post("/login_form", $("#loginForm").serialize(), (data) => { 
                    if(data==='LOGIN_OK') window.location ="/home";
                    $("#loginResult").html(data); 
                });
            }
    body
        div(class="container-fluid" id="index")
            div(class="row")
                nav(class="navbar navbar-default")
                    div(class="container-fluid")
                        div(class="navbar-header")
                            a(id="brand-text" class="navbar-brand" href="/") toDO.list
                        ul(class="nav navbar-nav")
                            li
                                a(href="/home" id="navbar-item") Home
                            li
                                a(href="#" id="navbar-item") About
                        ul(class="nav navbar-nav navbar-right")               
                            li
                                a(id="navbar-item") 
                                    b #{user}
            div(class="row" id="loginBox")
                div(class="col-xs-12")
                    form(class="form-group" id="loginForm")
                        div(class="row" id="loginBoxRow")
                            div(class="col-xs-3 col-xs-offset-4")
                                label(for="campo1") User:
                                input(class="form-control" type="text" id="username" name="campo1" placeholder="User")
                        div(class="row" id="loginBoxRow")
                            div(class="col-xs-3 col-xs-offset-4")
                                label(for="campo2") Password:
                                input(class="form-control" type="password" id="password" name="campo2" placeholder="Password")
                        div(class="row" id="loginBoxRow")
                            div(class="col-xs-3 col-xs-offset-4")
                                input(class="btn btn-primary btn-block" type="button" value="Login" onclick="sendLoginPostRequest()")
                                a(class="btn btn-primary btn-block" href="/register") Register
                        div(class="row" id="loginBoxRow")
                            div(class="col-xs-3 col-xs-offset-4" id="loginResult")