doctype html
html
    head
        script(src ="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
        script.
            function sendLoginPostRequest() {
                $.post("/login_form", $("#loginForm").serialize(), (data)=> $("#loginResult").html(data)); 
            }
    body
        h1 Login
        a(href="\home") Home
        form(id="loginForm")
            input(type="text" id="campo1" name="campo1" placeholder="User")
            input(type="text" id="campo2" name="campo2" placeholder="Password")
            input(type="button" value="Login" onclick="sendLoginPostRequest()")
        br
        a(href="/register") Sign up!
        p Login result:
        span(id="loginResult")
        p Session ID: #{sid}
        p Views: #{views}