script.
    $(document).ready(()=>{
        $().alert();
        if($("#selectCat").val() === 'New') $("#newCatForm").show();
        if(#{catCount} > 0) $("#createCatText").attr("disabled", true);
        else $("#createCatText").attr("disabled", false);
        $(".selectpicker").selectpicker();
        $(".form_datetime").datetimepicker({
            format: "yyyy-mm-dd hh:ii",
            autoclose: true,
            todayBtn: false,
            pickerPosition: "bottom-left"
        });
    });
            function addTask(){
                $("#addItemButton").toggle();
                $("#addItemForm").toggle();
                $("#addItemText").focus();
            }
            function postItem(title){
                $.post("/home/manageItem/addItem", { text: $("#addItemText").val(),
                                                     priority: $("#selectPriority").val(),
                                                     time: $("#timeItem").val(),
                                                     listTitle: title}, (data)=> {
                    if(data = "SAVE_OK") updateTreeView(()=>{
                        console.log(title);
                        console.log($("#tree").treeview("search", [title]));
                        $("#tree").treeview("selectNode", $("#tree").treeview("search", [title]));
                    });
                });
            }
            function editTitle() {
                $.post("/home/manageList/saveList_form", {cat:$("#selectCat").val(), campo1: $("#editTitleText").val()}, (data) => {
                    $("#titleDiv").text($("#editTitleText").val());
                    if(data==='SAVE_OK') updateTreeView();
                    showEditTitle();
                });
            }
            function saveList() {
                var category;
                if(!$("#createCatText").val()){
                    $("#createCatText").focus();
                    $("#errorMessage").text("Please choose a category");
                    $(".alert").show();
                    return;
                }
                if ($("#selectCat").val()!== 'New') category = $("#selectCat").val();
                else category = $("#createCatText").val()
                if(!$("#createTitleText").val()) {
                    $("#createTitleText").focus();
                    $("#errorMessage").text("Please add a title to your list");
                    $(".alert").show(); 
                    return;
                }
                $.post("/home/manageList/saveList_form", { cat: category, campo1: $("#createTitleText").val() }, (data) => {
                    if(data==='SAVE_OK') updateTreeView( () => {
                        $("#tree").treeview("selectNode", $("#tree").treeview("search", [$("#createTitleText").val()]));
                    });       
                });
            }
            function catChange() {
                if($("#selectCat").val() === 'New') {
                    $("#createCatText").val("Type a new category");
                    $("#createCatText").attr("disabled", false);
                    $("#createCatText").focus();
                    return;
                }
                $("#createCatText").val($("#selectCat").val());
                $("#createCatText").attr("disabled", true);
            }
            function showEditTitle(){
                $("#thTitle").toggle();
                $("#thEditTitle").toggle();
                $("#editTitleText").focus();
            }
            function updateView() {
                $("#tree").treeview("selectNode", $("#tree").treeview("getSelected"));
            }
div(class="container-fluid")
    div(class="col-xs-12")     
        table(class="table table-borderless")
            thead
                tr
                    th(id="thTitle")
                        #action
                            if(action==='create')
                                div(class="row")
                                    div(class="btn-group")
                                        div(class="col-xs-12")
                                            input(type="text" class="form-control input-sm" id="createTitleText" value= title)
                                br
                                div(class="row")
                                    div(class="btn-group")
                                        div(class="col-xs-9" id="newCatForm")
                                            input(type="text" class="form-control input-sm" id="createCatText" value= cat)
                                        div(class="col-xs-3")
                                            select(class="selectpicker" id="selectCat" data-style="btn-primary btn-sm" data-width="100%" onchange="catChange()")
                                                each val in cats
                                                    option!= val
                                                optgroup(class="select-hr")
                                                    option New
                            else
                                div(class="row")
                                    div(class="col-xs-10" id="titleDiv") #{title}
                                    div(class="col-xs-2")
                                        div(class="dropdown btn-block" id="dropdownTitle") 
                                            div(class="btn-group")
                                                button(class="btn btn-sm btn-primary dropdown-toggle btn-block" type="button" id="titleDropdown" data-toggle="dropdown") Options
                                                    span(class="caret")
                                                ul(class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1")
                                                    li(role="presentation")
                                                        a(role="menuitem" href="#" onclick="showEditTitle()") Edit title
                                                    li(role="presentation")
                                                        a(role="menuitem" href="#" onclick="deleteList('"+title+"', '"+cat+"')") Delete list
                    th(id="thEditTitle")
                        div(class="row")
                            div(class="col-xs-8")
                                div(class="btn-group")
                                    input(type="text" class="form-control input-sm" id="editTitleText" value= title)
                            div(class="col-xs-2")
                                input(type="button" class="btn btn-sm btn-primary btn-block" value="Edit" id="listTitleButton" name="campo1" onclick="editTitle()")
                            div(class="col-xs-2")
                                input(type="button" class="btn btn-sm btn-primary btn-block" value="Cancel" id="listTitileCancelButton" onclick="showEditTitle()")
            tbody
                each val in elem
                    tr(id="listItem")
                        td
                            div(class="row")
                                div(class="col-xs-12")!= val.text
                                    span(id="deleteItemIcon" class="glyphicon glyphicon-remove" onclick="")
                                    span(id="optionsItemIcon" class="glyphicon glyphicon-option-horizontal" onclick="")
                tr(id="addItemButton")
                    td
                        div(class="row")
                            div(class="col-xs-12")
                                button(class="btn btn-primary btn-block" type="button" onclick="addTask()") Add a new task
                tr(id="addItemForm")     
                    td
                        div(class="row")
                            div(class="col-xs-12" id="addItemTextDiv")
                                input(type="text" class="form-control input-sm" id="addItemText" placeholder="Add a description of your new task")
                        div(class="row")
                            div(class="col-xs-2")
                                button(class="btn btn-sm btn-primary btn-block" type="button" onclick="postItem('"+title+"')") Submit
                            div(class="col-xs-2")
                                button(class="btn btn-sm btn-primary btn-block" type="button" onclick="") Cancel
                            div(class="col-xs-2")
                            div(class="col-xs-2")
                                select(class="selectpicker" id="selectPriority" data-style="btn-sm btn-primary" data-width="100%")
                                    optgroup(label="Priority")
                                        option Low
                                        option Normal
                                        option High
                            div(class="col-xs-4")
                                div(class="input-group date form_datetime")
                                    input(type="text" class="input-sm form-control" id="timeItem" placeholder=" Date & Time" readonly)
                                    span(class="input-group-addon")
                                        span(class="glyphicon glyphicon-calendar")

div(id="listContainer" class="col-xs-12")
    form(id="listDone")
        input(type="button" class="btn btn-primary" value="Done" onclick="saveList()")
    div(class="alert alert-danger alert-dismissible" role="alert" id="formAlert")
        button(type="button" class="close" data-dismiss="alert" aria-label="Close") &times
        p(id="errorMessage") Error message
    