h1 REGISTER RESULTS
br
ins Register result:
ins(id="registerResult")
br
p(id="session" style="display:inline") SessionID:
br
p(id="username" style="display:inline") Username:
br
p(id="password" style="display:inline") Password:
br
p(id="email" style="display:inline") email: 
br
p(id="date" style="display:inline") Creation Time:
br
a(href="/login") Login
br
a(href="/") Index

