doctype html
html
    head
        title toDO.list - Register
        script(src ="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
        link(href="./static/css/theme.min.css" rel="stylesheet")
        link(href="./static/css/login.css" rel="stylesheet")
        script.
            function sendRegisterPostRequest() {
                let userInfo;
                $.post("/register_form", $("#registerForm").serialize(), (data) => {
                    userInfo=data;
                    if(userInfo.userStatus==='USER_OK') $("#page_body").html(userInfo.html);
                    $("#session").html('SessionID: '+userInfo.session);
                    $("#username").html('Username: '+userInfo.username);
                    $("#password").html('Password: '+userInfo.password);
                    $("#email").html('email: '+userInfo.email);
                    $("#date").html('Date: '+userInfo.time);
                    $("#registerResult").html(userInfo.userStatus);
                });
            }
    body(id="page_body")
        div(class="container-fluid" id="index")
            div(class="row")
                nav(class="navbar navbar-default")
                    div(class="container-fluid")
                        div(class="navbar-header")
                            a(id="brand-text" class="navbar-brand" href="/") toDO.list
                        ul(class="nav navbar-nav")
                            li
                                a(href="/home" id="navbar-item") Home
                            li
                                a(href="#" id="navbar-item") About
                        ul(class="nav navbar-nav navbar-right")               
                            li
                                a(id="navbar-item") 
                                    b #{user}
        div(class="container-fluid")
        form(id="registerForm")
            input(type="text" id="campo1" name="campo1" placeholder="User name")
            input(type="text" id="campo2" name="campo2" placeholder="Password")
            input(type="text" id="campo3" name="campo3" placeholder="email")
            input(type="button" value="Register" onclick="sendRegisterPostRequest()")
        br
        ins Register result:
        ins(id="registerResult")