doctype html
html
    head
        title toDO.list - Register
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src ="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
        link(href="./static/css/theme.min.css" rel="stylesheet")
        link(href="./static/css/register.css" rel="stylesheet")
        script.
            function sendRegisterPostRequest() {
                if(!$("#username").val()) { $("#username").focus(); return; }
                if(!$("#password").val()) { $("#password").focus(); return; }
                if(!$("#email").val()) { $("#email").focus(); return; }
                $.post("/register_form", $("#registerForm").serialize(), (data) => {
                    $("#colRegisterButton").empty();
                    if(data.userStatus==='USER_OK') {
                        $("#successBox").show();
                        $("#errorBox").hide();
                        $("#successBox").append("<div id=\"registerMsg\" class=\"col-xs-3 col-xs-offset-4\">Welcome "+data.username+"!</div>");
                        $(".form-control").attr("disabled", "true");
                    }
                    else { 
                        $("#errorBox").show();
                        $("#errorMsg").html("<div id=\"registerMsg\">"+data.userStatus+"!</div>");
                    }
                });
            }
    body(id="page_body")
        div(class="container-fluid" id="register")
            div(class="row")
                nav(class="navbar navbar-default")
                    div(class="container-fluid")
                        div(class="navbar-header")
                            a(id="brand-text" class="navbar-brand" href="/") toDO.list
                        ul(class="nav navbar-nav")
                            li
                                a(href="/home" id="navbar-item") Home
                            li
                                a(href="#" id="navbar-item") About
                        ul(class="nav navbar-nav navbar-right")               
                            li
                                a(id="navbar-item") 
                                    b #{user}
            div(class="row" id="loginBox")
                div(class="col-xs-12")
                    form(class="form-group" id="registerForm")
                        div(class="row" id="registerBoxRow")
                            div(class="col-xs-3 col-xs-offset-4")
                                label(for="campo1") User name:
                                input(class="form-control" type="text" id="username" name="campo1" placeholder="User name")
                        div(class="row" id="registerBoxRow")
                            div(class="col-xs-3 col-xs-offset-4")
                                label(for="campo2") Password:
                                input(class="form-control" type="password" id="password" name="campo2" placeholder="Password")
                        div(class="row" id="registerBoxRow")
                            div(class="col-xs-3 col-xs-offset-4")
                                label(for="campo3") E-mail:
                                input(class="form-control" type="email" id="email" name="campo3" placeholder="e-mail")
                        div(class="row" id="registerBoxRow")
                            div(class="col-xs-3 col-xs-offset-4" id="colRegisterButton")
                                input(class="btn btn-primary btn-block" type="button" value="Register" onclick="sendRegisterPostRequest()")
                        div(class="row" id="successBox")
                            div(class="col-xs-3 col-xs-offset-4" id="colRegisterSuccess")
                                a(class="btn btn-primary btn-block" href="/login" id="registerSuccessButton") Login
                                a(class="btn btn-primary btn-block" href="/" id="registerSuccessButton") Start
                        div(class="row" id="errorBox")
                            div(class="col-xs-3 col-xs-offset-4" id="colRegisterError")
                                input(class="btn btn-primary btn-block" type="button" value="Register" onclick="sendRegisterPostRequest()")
                            div(class="col-xs-3 col-xs-offset-4" id="errorMsg")