html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    background-color:white;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
#brand-text {
    font-weight:bolder;
}
:focus {
    outline-color: rgb(233, 84, 32);
} 
.badge{
	background-color: rgb(233, 84, 32);
	border-radius: 0px;
}
.badge .btn/*, .dropdown .btn*/{
    padding:0px 5px 0px 5px;
}
.a:hover {
    text-decoration:none;
}
.glyphicon{
	color: rgb(233, 84, 32);
}
#treeLabel, #listTitle {
    color: rgb(233, 84, 32);
    font-weight: bold;
    text-align:center;
}
li.list-group-item.node-tree {
    padding-right:0px;
    padding-top:5px;
    padding-bottom:5px;
}
span.badge{
    padding:0 0 0 0;
}
#titleDropdown{
    float: right;
}
dropdown{
    float:right;
}
 .dropdown-menu{
    padding:0px 0px 0px 0px;
    /*padding-top:5px;*/
	
	width: 30%;
}
.dropdown .btn{
	padding:0px 0px 0px 0px;
	width: 30%;
}
#editTitleText{
    float: left;
}
#editTitleText, #form-group{
	padding:0px 0px 0px 0px;
	font-size:14px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border:0;
}
.col-xs-2, col-xs-8{
	vertical-align:middle;
}
