html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    background-color:white;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
#brand-text {
    font-weight:bolder;
}
:focus {
    outline-color: rgb(233, 84, 32);
} 
.badge{
	position:relative;
	background-color: white;
	top:8px;
	right:10%;
}
.badge span.glyphicon{
	color: #ddd;
}
.badge span.glyphicon:hover{
	color: rgb(233, 84, 32);
}
.a:hover {
    text-decoration:none;
}
.treeview span.icon{
	color: rgb(233, 84, 32);
}
#treeLabel, #listTitle {
    color: rgb(233, 84, 32);
    font-weight: bold;
    text-align:center;
}
li.list-group-item.node-tree {
    padding-right:0px;
    padding-top:5px;
    padding-bottom:5px;
}
span.badge{
    padding:0 0 0 0;
}
#dropdownTitle{
	text-align:right;
}
#titleDropdown{
	color: #ccc;
}
#titleDropdown:hover{
	color: rgb(233, 84, 32);
}
dropdown{
    float:right;
}
.dropdown-menu{
    padding:0px 0px 0px 0px;
	font-size:12px;
}
#editTitleText{
    float: left;
}
.input-sm {
	padding:0px 0px 0px 0px;
	font-size:14px;
    width:100%;
}
.col-xs-2, .col-xs-4, .col-xs-8, .col-xs-10, .col-xs-12{
	line-height:30px;
}
.form-control {
    height:30px;
	width:100%;
}
.bootstrap-select.btn-group.dropdown-menu li > a {
	padding-left:10%;
}
.bootstrap-select.btn-group.dropdown-menu li a span.glyphicon{ 
	color:#ddd;
}
#thEditTitle, #addItemForm{
    display:none;
}
#addItemTextDiv {
    padding-bottom: 10px;
}
.input-group-addon {
    padding:0px 5px 0px 5px;
}
#deleteItemIcon, #optionsItemIcon {
	float:right;
    padding-left:10px;
    position:relative;
    top:10px; 
    display:inline-block;
    color:lightgray;
}
#deleteItemIcon:hover, #optionsItemIcon:hover {
    color: rgb(233, 84, 32);
}
.btn:hover {
    background-color: rgb(233, 84, 32);
    color:white;
}
.btn:hover:active {
    background-color: rgb(233, 84, 32);
    color: white;
    outline:none;
}
.btn:focus {
    border-color: rgb(233, 84, 32);
    background-color: white;
    color: rgb(233, 84, 32);
    outline:none;
}
.datetimepicker table tr td.active, .datetimepicker table tr td span.active {
    background-image: linear-gradient(to bottom,#e95420,rgba(233, 84, 32, 1));
}
.datetimepicker table tr td.active:hover, .datetimepicker table tr td span.active:hover {
    background-image: linear-gradient(to bottom,#e95420,rgba(233, 84, 32, 1));
}