html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    background-color:white;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
#brand-text {
    font-weight:bolder;
}
:focus {
    outline-color: rgb(233, 84, 32);
} 
.badge{
	background-color: rgb(233, 84, 32);
	border-radius: 0px;
}
.a:hover {
    text-decoration:none;
}
.glyphicon{
	color: rgb(233, 84, 32);
}
#treeLabel, #listTitle {
    color: rgb(233, 84, 32);
    font-weight: bold;
    text-align:center;
}
li.list-group-item.node-tree {
    padding-right:0px;
    padding-top:5px;
    padding-bottom:5px;
}
span.badge{
    padding:0 0 0 0;
}
#titleDropdown{
    float: right;
}
dropdown{
    float:right;
}
.dropdown-menu{
    padding:0px 0px 0px 0px;
}
.btn-group, btn-group .btn{
    width: 100%;
}
#editTitleText{
    float: left;
}
.input-sm {
	padding:0px 0px 0px 0px;
	font-size:14px;
    width:100%;
}
.col-xs-2, .col-xs-4, .col-xs-8, .col-xs-10, .col-xs-12{
	line-height:30px;
	display:table-cell; 
	vertical-align:middle;
}
.form-control {
    height:30px;
}
.bootstrap-select.btn-group.dropdown-menu li > a {
    text-align: center;
}
#thEditTitle, #addItemForm{
    display:none;
}
#addItemTextDiv {
    padding-bottom: 10px;
}
.minute.active, .hour.active, .day.active {  
    border-radius:0px;
}
.input-group-addon {
    padding:0px 5px 0px 5px;
}
.alert {
    display:none;
}
#deleteItemIcon, #optionsItemIcon {
	float:right;
	padding-left:10px;
	display:inline-block;
}