html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    background-color:white;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
#brand-text {
    font-weight:bolder;
}
#indexButtons{
	text-align:center;
    padding-top:5%;
}
#registerLink {
    padding-right:25%;
}
#loginLink {
    padding-left: 25%;
}
#indexPresentation {
    background-image:url(/static/img/info1.jpg);
    background-size:cover;
    padding-top:15%;
    padding-bottom:15%;
    padding-left:10%;
    color:white;
    font-size:35px;
}
a:hover {
    text-decoration:none;
}