/*Animaciones*/
@keyframes onHoverChangeColors {
    from { background-color: yellowgreen;}
    to { background-color: #71bb20;}
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    background-image: url("/static/img/indexBackground.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
#indexButtons{
	height: 20%;
	width:100%;
	text-align:center;
}