/*Animaciones*/
@keyframes onHoverChangeColors {
    from { background-color: yellowgreen;}
    to { background-color: #71bb20;}
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    background-color:white;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
#indexButtons{
	text-align:center;
}
#indexPresentation {
    background-image:url(/static/img/info1.jpg);
    background-size:cover;
    padding-top:15%;
    padding-bottom:15%;
    padding-left:10%;
    color:white;
    font-size:30px;
}
